<div class="container text-center">
  <h1>Register</h1>
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <br>
        <%= form_for :user, url: '/users' do |f| %>
          <div id="reg">First Name: <%= f.text_field :first_name %>
          </div>
          <div id="reg">
          Last Name: <%= f.text_field :last_name %>
          </div>
          <div id="reg">
          Email: <%= f.text_field :email %>
          </div>
          <div id="reg">
          Password: <%= f.password_field :password %>
          </div>
          <div id="reg">
          Password Confirmation: <%= f.password_field :password_confirmation %>
          </div>
    </div>
            <%= f.submit "Submit" %>
            <% end %>
        </form>
</div>