<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <br><br>

    <div class="text-center">
      <% if current_user %>
      <button type="button" id="modalbtn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add a Review!</button>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add a review:</h4>
          </div>
          <div class="modal-body">
        <%= form_for [@product, @review] do |review_form| %>
            <dl class="dl-horizontal">
            <dt><%= review_form.label :description %></dt>
            <dd><%= review_form.text_field :description, size: "45" %></dd>
            <br>
            <dt><%= review_form.label :rating %></dt>
            <dd><%= review_form.select :rating, ['1', '2', '3', '4', '5'] %></dd>
          </div>
          <div class="modal-footer">
            <%= review_form.submit "Add review" %>
        <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <br><br>
    <% if @product_review == nil %>
    <br>
    <% else %>

    <div class="order-summary well">
        <h4>Reviews</h4>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Rating</th>
              <th scope="col">Description</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
          <% @product_review.reverse.each do |review| %>
          <tr>
            <th scope="row"></th>
            <% arr = Array.new(5) %>
            <% count = review.rating %>
            <% for i in 0..4 %>
            <% count - 1 >= 0 ? arr[i] = 'star' : arr[i] = 'star-o' %>
            <% count -= 1 %>
            <% end %>
            <td><%= fa_icon arr[0] %> <%= fa_icon arr[1] %> <%= fa_icon arr[2] %> <%= fa_icon arr[3] %> <%= fa_icon arr[4] %></td>
            <td><%= review.description %></td>
            <% if current_user && @current_user.id == review.user_id %>
              <td><%= button_to "Delete", product_review_url(@product, review), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: "Are you sure?" } %>
              </td>
              <% else %>
              <td></td>
              <% end %>
          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
    <% end %>

  </article>

</section>
